$primary : #FF0000;
$secondary: #454545;

$brand: #9D0054;
$success: #178253;
$info: #006DAA;
$danger: #C32D3A;
$warning: #FFD900;
$light: #E1DDDB;
$dark: #273F2F;
$accent-a: #00BBF9;
$accent-b: #FFEE88;
